# Evelyn Pu

## Research question/interests(PM2)



My personal interest is to analyze the user profile statistics of bike-sharing. My analysis might include the ***usage preferences of each of these two types of users ( casual and registered) in different situations***(e.g., in different weather, on weekends or weekdays of the week), as well as analyzing their respective percentages of total users.


To figure out this, I might analyze：


1. what are the usage habits of these two types of users in different weather? For example, analyze the relationship between the number of humidity, temperature, and wind speed and the two types of users in casual and registered to determine how they have usage preferences for bike-sharing in different weather.
Possible details include (1) using seaborn to plot humidity, temperature, and wind speed as histograms or line graphs (2) plotting the number of casual and registered users as line graphs (3) combining the graphs in (1) (2) to see if they have a positive association with each other.
2. What are the usage preferences of these two users for each day of the week? For example, do they prefer to use bike-sharing on weekends? 
Possible details include: (1) read the dataset from the day.csv file, count the columns = weekday with value= 0,6 as weekend and 1,2,3,4,5 as weekday,and calculate two types of user numbers when the weekday value = 1,2,3,4,5,6,0(2) Plot the histogram, the ideal output should be a histogram with x-axis values 0,1,2,3,4,5,6 and split with casual and registered. (3) Observe: whether there are always more (or less) users of both types when weekday=0,6.

3. For both types of users, is there always more users of one type? -I want to compare the respective values, using an int variable or a bool variable to record the number of times the number of users of one type is greater than the number of users of the other type, and if so, the number is added to 1 or defined as true. (But I'm not sure which is better and will try it in a later analysis.) Possible details include. (1) Assume an int variable named x that records the number of times one class of users has more users than another. (2) Add a column named 'IFregMORE', of type boolean. (3) Combine the while/for Loop and if statements to determine true when there are more users in one class than in another, and apply this condition to each line of the loop. (4) At the end of the loop, use count() to calculate the number of times true and assign it to x to determine if there are always more users in one class than in another. (5) (Optional) Calculate statistics for both categories of users, such as mean, median, minimum and maximum, etc., to plot box plots.

In [14]:
#Import Libraries
import numpy as np
import pandas as pd
import matplotlib.pylab as plt
import seaborn as sns

In [9]:
day = pd.read_csv("../data/raw/day.csv")
day

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
726,727,2012-12-27,1,1,12,0,4,1,2,0.254167,0.226642,0.652917,0.350133,247,1867,2114
727,728,2012-12-28,1,1,12,0,5,1,2,0.253333,0.255046,0.590000,0.155471,644,2451,3095
728,729,2012-12-29,1,1,12,0,6,0,2,0.253333,0.242400,0.752917,0.124383,159,1182,1341
729,730,2012-12-30,1,1,12,0,0,0,1,0.255833,0.231700,0.483333,0.350754,364,1432,1796
730,731,2012-12-31,1,1,12,0,1,1,2,0.215833,0.223487,0.577500,0.154846,439,2290,2729

In [29]:
day_clean=day.drop(['instant','yr','weathersit','dteday'],axis=1)
day_clean.head()

,season,mnth,holiday,weekday,workingday,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,1,0,6,0,0.344167,0.363625,0.805833,0.160446,331,654,985
1,1,1,0,0,0,0.363478,0.353739,0.696087,0.248539,131,670,801
2,1,1,0,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,1,1,0,2,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,1,1,0,3,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [30]:
day_clean.columns

Index(['season', 'mnth', 'holiday', 'weekday', 'workingday', 'temp', 'atemp',
       'hum', 'windspeed', 'casual', 'registered', 'cnt'],
      dtype='object')

In [31]:
day_clean.describe()

,season,mnth,holiday,weekday,workingday,temp,atemp,hum,windspeed,casual,registered,cnt
count,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000,731.000000
mean,2.496580,6.519836,0.028728,2.997264,0.683995,0.495385,0.474354,0.627894,0.190486,848.176471,3656.172367,4504.348837
std,1.110807,3.451913,0.167155,2.004787,0.465233,0.183051,0.162961,0.142429,0.077498,686.622488,1560.256377,1937.211452
min,1.000000,1.000000,0.000000,0.000000,0.000000,0.059130,0.079070,0.000000,0.022392,2.000000,20.000000,22.000000
25%,2.000000,4.000000,0.000000,1.000000,0.000000,0.337083,0.337842,0.520000,0.134950,315.500000,2497.000000,3152.000000
50%,3.000000,7.000000,0.000000,3.000000,1.000000,0.498333,0.486733,0.626667,0.180975,713.000000,3662.000000,4548.000000
75%,3.000000,10.000000,0.000000,5.000000,1.000000,0.655417,0.608602,0.730209,0.233214,1096.000000,4776.500000,5956.000000
max,4.000000,12.000000,1.000000,6.000000,1.000000,0.861667,0.840896,0.972500,0.507463,3410.000000,6946.000000,8714.000000

### EDA - initial thoughts

1. From the observations obtained by describe(), the statistics of registered users are always more than those of casual users.
Is this always the case on every day?

2. Temperature,humidity and windspeed changes every day, do they effect on users?

3. A day can be defined as weekday or not and holiday or not.

### EDA - Wrangling
 - Describe what have done or are doing by comment in code

### EDA - Reasearch Questions 
1. Are there always more registered users than casual users?
2. Do changes in humidity, temperature and wind speed have an effect on the number of users?
3. Does a holiday or non-holiday, weekend or weekday have an impact on the number of users

In [32]:
# Data analysis and visualization

### EDA - Summary and conclusions
 - Summarize your findings
 - Describe any conclusions you can draw from your visualization.